<div class="d-flex">
    <!-- Sidebar -->
    <nav class="text-white sidebar vh-100 py-3 pe-lg-3" [class.active]="isCollapsed">
        <app-side-nav
            [navList]="navList"
            [activeItem]="activeItem">
        </app-side-nav>
    </nav>
  
    <!-- Main Content -->
    <div class="main-content flex-grow-1 m-0 px-5">
        <app-header [activeItem]="activeItem"></app-header>
        <div class="pt-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
  