.sidebar {
    min-width: 300px;
    min-height: fit-content;
    height: 100vh;
    background: #385723;
    transition: all 0.3s ease-in-out;
}
.sidebar.active {
    width: 0;
    overflow: hidden;
}
.main-content {
    margin-left: 300px;
    transition: all 0.3s ease-in-out;
}
.sidebar.active ~ .main-content {
    margin-left: 0;
}