<div class="modal-header">
    <h4 class="modal-title">{{data.name}} Password</h4>
    <button type="button" class="btn" aria-label="Close" (click)="closeModal()">
        <img src="../../../../assets/icons/form/close-lg.svg">
    </button>
</div>

<form [formGroup]="passwordForm" (submit)="submit()">

    <div class="modal-body manage-note">
        <div class="mb-3">
            <label for="domain_name" class="col-form-label">Domain Name</label>
            <input type="text" placeholder="Domain Name" class="form-control" id="domain_name"
                formControlName="domain_name">
        </div>
        <div class="mb-3">
            <label for="domain_url" class="col-form-label">Website Url</label>
            <input type="text" placeholder="Website Url" class="form-control" id="domain_url"
                formControlName="domain_url">
        </div>
        <div class="mb-3">
            <label for="username" class="col-form-label">Username</label>
            <input type="text" placeholder="Username" class="form-control" id="username"
                formControlName="username">
        </div>
        <div class="mb-3">
            <label for="password" class="col-form-label">Password</label>
            <div class="input-group">
                <input type="{{showPassword ? 'text' : 'password'}}" placeholder="Password" class="form-control" id="password"
                    formControlName="password">
                <span class="input-group-text">
                    <img width="24" [src]="showPassword ? '../../../assets/icons/form/eye-show.svg' : '../../../assets/icons/form/eye-hide.svg'" (click)="showPassword = !showPassword">
                </span>
            </div>
        </div>

    </div>
    
    <div class="modal-footer d-flex justify-content-end">
        
        <button class="btn submit-button">
            Save
        </button>
    </div>

</form>