<div class="dashboard">

    <div class="d-flex gap-3 justify-content-start">
        <a class="link-grid" [routerLink]="['/memories']">
            <img src="../../../assets/icons/side-bar/memories.svg" class="pr-3">
            Memories
        </a>
        <a class="link-grid" [routerLink]="['/notes']">
            <img src="../../../assets/icons/side-bar/notes.svg">
            Add Notes
        </a>
        <a class="link-grid" [routerLink]="['/assets']">
            <img src="../../../assets/icons/side-bar/assets.svg">
            Assets
        </a>
        <a class="link-grid" [routerLink]="['/passwords']">
            <img src="../../../assets/icons/side-bar/passwords.svg">
            Add Passwords
        </a>
    </div>

</div>